body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f2f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/* Header Styles */
header {
  background: #0d6efd; /* Primary color */
  color: white;
  padding: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Navigation Styles */
nav {
  max-width: 1200px;
  margin: 0 auto;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #e8491d; /* Accent color for hover effect */
}

/* Responsive Styles */
@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin: 10px 0;
  }
}
h1 {
  text-align: center;
  color: #333;
}
.file-details {
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  max-width: 400px;
  margin: 30px auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.file-info {
  margin-bottom: 20px;
  color: #555;
  font-size: 16px;
  line-height: 1.6;
}
.file-info strong {
  color: #333;
}
.button {
  display: block;
  margin: 10px 0;
  padding: 12px 0;
  background-color: #0d6efd;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  text-align: center;
}
.button:hover {
  background-color: #0056b3;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.button:active {
  background-color: #003a75;
}
